<section>
  <input type="hidden" id="idCourse" value="<%= detail.id %>">

  <div class="course-container d-flex border border-2 p-4 my-3 gap-3">
    <img id="img" src="" alt="course-banner" width="200" height="300">
    <div class="course-detail">
      <h5 id="name"><span class="fw-bold">Name:</span> </h5>
      <h5 id="category"><span class="fw-bold">Category:</span> </h5>
      <h5 id="price"><span class="fw-bold">Price: </span> Rp. </h5>
      <h5 id="quota"><span class="fw-bold">Quota:</span> </h5>
      <h5 id="desc"><span class="fw-bold">Description:</span> </h5>
    </div>
  </div>

  <button id="deleteBtn" class="btn btn-danger btn-sm">
    <i class="bi bi-trash"></i>
    Delete
  </button>
  <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal">
    <i class="bi bi-pencil-square"></i>
    Update
  </button>

  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input id="nameInput" type="text" class="form-control" autocomplete="off" required>
              <label>Name</label>
            </div>
            <div class="form-floating mb-3">
              <input id="priceInput" type="number" class="form-control" autocomplete="off" required>
              <label>Price</label>
            </div>
            <div class="form-floating mb-3">
              <input id="quotaInput" type="number" class="form-control" autocomplete="off" required>
              <label>Quota</label>
            </div>
            <div class="form-floating mb-3">
              <input id="descInput" type="text" class="form-control" autocomplete="off" required>
              <label>Description</label>
            </div>
          </div>
          <div class="modal-footer">
            <button id="updateBtn" type="button" class="btn btn-md btn-success">Update</button>
          </div>
        </form>

      </div>
    </div>
  </div>

</section>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  const idCourse = $('#idCourse').val()
  axios.get(`http://localhost:3000/api/courses/${idCourse}`).then(response => {
    if (!response.data.data) {
      swal({
        icon: 'error',
        title: 'Invalid ID',
        text: 'ID tidak ditemukan!'
      }).then(() => {
        window.location.href = '/admin/course-handler'
      })
      return
    }

    const { name, price, desc, img, quota, category } = response.data.data

    $('#name').append(name)
    $('#price').append(price)
    $('#desc').append(desc)
    $('#quota').append(quota)
    $('#category').append(category.name)

    const source = img.split('\\')
    $('#img').attr('src', '../../../assets/' + source[2])

    $('#nameInput').val(name)
    $('#priceInput').val(price)
    $('#descInput').val(desc)
    $('#quotaInput').val(quota)

    $('#deleteBtn').on('click', () => {
      swal({
        title: "Apakah anda yakin?",
        text: `${name} akan dihapus`,
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            axios.delete(`http://localhost:3000/api/courses/${idCourse}`)
            swal({
              title: "Sukses!",
              text: "Berhasil dihapus!",
              icon: "success",
              button: "OK",
            }).then((OKclicked) => {
              if (OKclicked) {
                window.location.href = '/admin/course-handler'
              } else {
                setInterval(() => {
                  window.location.href = '/admin/course-handler'
                }, 1000)
              }
            })
          }
        })
    })

    $('#updateBtn').on('click', () => {
      $('#updateBtn').prop('disabled', true)
      axios.put(`http://localhost:3000/api/courses/${idCourse}`, {
        name: $('#nameInput').val(),
        price: $('#priceInput').val(),
        desc: $('#descInput').val(),
        quota: $('#quotaInput').val(),
      }).then((res) => {
        swal({
          title: "Sukses!",
          text: "Berhasil diupdate!",
          icon: "success",
          button: "OK",
        }).then((btnClicked) => {
          if (btnClicked) {
            window.location.reload()
          } else {
            setInterval(() => {
              window.location.reload()
            }, 1000)
          }
        })
        $('#updateBtn').prop('disabled', false)
      })
    })
  })

</script>